<?php

namespace {{ classTemplate.getNamespace }};

{% for class in classTemplate.getUsedClasses %}
use {{ class }};
{% endfor %}


/**
 * {{ classTemplate.getClassBaseName }}
{% if classTemplate.hasAnnotations %}
 *
{% for annotationTemplate in classTemplate.getAnnotations %}
 * {{ annotationTemplate.render()|raw}}
{% endfor %}
{% endif %}
 */
class {{ classTemplate.getClassBaseName }}{%
if classTemplate.getParentClassProxy %} extends {{ classTemplate.getParentClassProxy.getClassBaseName }}{% endif %}{%
if classTemplate.getInterfaces|length %} implements {{ classTemplate.getInterfaceList }}{% endif %}
{
{% for trait in classTemplate.getTraits %}
    use {{ trait.getClassBaseName }};
{% endfor %}

{% for property in classTemplate.getProperties %}
    /**
{% if property.getAnnotationSet %}
{% for annotationTemplate in property.getAnnotationSet.getAnnotations %}
     * {{ annotationTemplate.render()|raw}}
{% endfor %}
{% endif %}
     */
     {{ property.getVisibility }} ${{ property.name }};

{% endfor %}
{% for methodTemplate in classTemplate.getMethods %}
{% include methodTemplateFile with {'methodTemplate' : methodTemplate} %}

{% if loop.last != true %}

{% endif %}
{% endfor %}
}
