     /**
      * {{ methodTemplate.name }}
      *
{% for annotationTemplate in methodTemplate.getMethodAnnotations %}
      * {{ annotationTemplate.render()|raw}}
{% endfor %}
      */
     {{ methodTemplate.visibility }} function {{ methodTemplate.name}}({{ methodTemplate.getArgumentList|join(', ') }})
     {
{%  if methodTemplate.isGetter %}
        return $this->{{ methodTemplate.getPropertyTemplate.getName() }};
{% elseif methodTemplate.isSetter %}
        $this->{{ methodTemplate.getPropertyTemplate.getName() }} = ${{ methodTemplate.getPropertyTemplate.getName}};

        return $this;
{% else %}
{% if methodTemplate.hasContentCallback %}
{{ methodTemplate.executeContentCallback()|raw }}
{% endif %}
{% endif %}
     }